@font-face {
  font-family: RW Dewi Expanded;
  src: url(RussianFonts-RFDewiExpanded-Black.otf);
  font-style: normal;
  font-weight: bolder;
}

@font-face {
  font-family: RF Dewi Expanded;
  src: url(RussianFonts-RFDewiExpanded-Bold.otf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family:RF Dewi Expanded;
  src: url(RussianFonts-RFDewiExpanded-Semibold.otf);
  font-style: normal;
  font-weight: Semibold;
}

@font-face {
  font-family: heading-pro-wide-trial-black;
  src: url(heading-pro-wide-trial.black.ttf);
  font-style: normal;
  font-weight: normal;
}
