@font-face {
  font-family: RW Dewi Expanded-Black ;
  src: url(Russian Fonts - RFDewiExpanded-Black.otf);
}

@font-face {
  font-family: Russian Fonts - RF Dewi Expanded Bold;
  src: url(Russian Fonts - RF Dewi Expanded Bold.otf);
}

@font-face {
  font-family: Russian Fonts - RFDewiExpanded-Semibold;
  src: url(Russian Fonts - RFDewiExpanded-Semibold.otf);
}

@font-face {
  font-family: heading-pro-wide-trial-black;
  src: url(heading-pro-wide-trial.black.ttf);
}
